{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- <h3> login </h3>

{% if erro %}
<h4>Credenciais invalidas, tente novamente ou crie uma conta</h4>
{% endif %}

<form action="{% url 'fazer_login' %}" method="post">
    {% csrf_token %}
    <input type="email" name="email", placeholder="Email">
    <input type="password" name="senha", placeholder="Senha">
    <button type="submit">Entrar</button>
</form>

<a href="{% url 'criar_conta' %}">Criar Conta</a>
<a href="{% url 'password_reset' %}">Esqueci minha senha</a> -->





<main class="principal">
    <section class="conta">
    

      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Faça seu Login</p>
        </div>
        {% if erro %}
        <h4>Credenciais invalidas, tente novamente ou crie uma conta</h4>
        {% endif %}


        <form
          class="conta__form"
          action="{% url 'fazer_login' %}"
          method="post"
        >
        {% csrf_token %}
          
 
          <div class="conta__item ">
            <label for="email">E-mail</label>
            <input name="email" type="email"   />
          </div>

          <div class="conta__item">
            <label for="senha">Senha</label>
            <input name="senha"  type="password"   />
          </div>

          <button class="subtotal__botao" type="submit">
            Fazer Login
          </button>
        </form>

        <a href="{% url 'criar_conta' %}">Criar Conta</a>
        <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
      </div>

    </section>
</main>
{% endblock %}